

<div *ngIf="pokemon">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{pokemon.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/1.png" alt="Photo of a pokemon">
        <mat-card-content>
          <p>
           
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
            <!--
                 <li>{{pokemon.name}}</li>
            <div>
                <img src={{pokemon.sprites.front_default}}>
            </div>

            -->
           
        </mat-grid-tile>
        <mat-grid-tile>
            <div>
                Stats:
                <li *ngFor="let stat of pokemon.stats">
                    {{stat.stat.name}}:{{stat.base_stat}}
                </li>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div>
                Types:
                <li *ngFor="let type of pokemon.types">
                    {{type.type.name}}
                </li>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div>
                Abilities:
                <li *ngFor="let ability of pokemon.abilities">
                    {{ability.ability.name}}
                </li>
            </div>
        </mat-grid-tile>
        
        
    </mat-grid-list>
      
    
</div>




<!--
<div *ngIf="pokemon">
    
    
    <br>
    
    <br>
    
    
</div>



    
-->
