

<div *ngIf="pokemon">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image" [background-image]='pokemon.sprites.front_default'>
              
          </div>
          <mat-card-title>{{pokemon.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="pokemon.sprites.front_default" alt="Photo of a pokemon">
        <mat-card-content>
          <p>
           
          </p>
        </mat-card-content>
        <mat-card-actions>
            <button  *ngFor="let type of pokemon.types" mat-stroked-button color="primary">
                {{type.type.name}}
            </button>
          
        </mat-card-actions>
      </mat-card>

      <br>
      <br>
      <div class="pokeStats" *ngFor="let stat of pokemon.stats">
        <button   mat-stroked-button color="primary">
                        {{stat.stat.name}}
        </button>
      
        <mat-progress-bar mode="determinate" value="45"></mat-progress-bar>
        <br>
        <br>
        </div>


       
      
    <mat-grid-list cols="2" rowHeight="2:1">
       
        <mat-grid-tile>
            <!--
                <div>
                Stats:
                <li *ngFor="let stat of pokemon.stats">
                    {{stat.stat.name}}:{{stat.base_stat}}
                </li>
            </div>
            -->
         
           
            
           
        </mat-grid-tile>

        <mat-grid-tile>
            <div>
                Types:
                <li *ngFor="let type of pokemon.types">
                    {{type.type.name}}
                </li>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div>
                Abilities:
                <li *ngFor="let ability of pokemon.abilities">
                    {{ability.ability.name}}
                </li>
            </div>
        </mat-grid-tile>
        
        
    </mat-grid-list>
      
    
</div>




<!--
<div *ngIf="pokemon">
    
    
    <br>
    
    <br>
    
    
</div>



    
-->
